@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    string title = "An anonymous object";
}

<h1>Generate Info Page</h1>
<h3>MODEL: @title</h3>

<p>Employee ID: @this.Model.Id</p>
<p>Employee Name: @this.Model.Name</p>