@using Demo_Banking.ViewModels

@{
    // Needs an explicit unboxing before consumption
    // Needs null-check before consumption of the object
    var employees = TempData["Employees"] as List<EmployeeViewModel>;
}

<h1>TempData Demo</h1>

@if (employees is not null)
{
    <ul>
        @foreach(var employee in employees)
        {
            <li> @employee.Name ( @employee.Id ) </li>
        }
    </ul>
}
else
{
    <div class="alert-danger">No employees found</div>
}