@model IList<Demo_Banking.ViewModels.EmployeeViewModel>

@{
}

<h1>ViewModel Demo (TypeSafe)</h1>
<p>the Model object is mapped to a Type explicitly using the @@model directive</p>

<ul>
    @foreach(var employee in Model)
    {
        <li> @employee.Name ( @employee.Id ) </li>
    }
</ul>
